<head>
  <link rel="stylesheet" href="/static/main.css">
</head>
<div class="cv">
  <div class="cv-row">
    <div class="cv-wrap">
      <div class="cv-name">Joseph Capozzoli</div>
      <div class="cv-subname">Senior Informatics Consultant</div>
      <div class="cv-content">
        <div class="head-title">Experience</div>
        <div class="cv-content-item">
          <div class="title">Senior Informatics Consultant</div>
          <div class="subtitle">Agilent Technologies</div>
          <div class="time">APR 2018 - Present</div>
          <ul>
            <li>Creating custom solution to meet customer specific needs</li>
            <li>On Demand Solutions</li>
            <li>Design and deploy large scale laboratory informatics systems</li>
            <li>Provide tier 2 application support for informatics customers and engineers.</li>
            <li>Computer Systems Validation document creation and execution.</li>

          </ul>
        </div>
        <div class="cv-content-item">
          <div class="title">Application Engineer</div>
          <div class="subtitle">Agilent Technologies</div>
          <div class="time">APR 2014 - APR 2018</div>
                    <ul>
                      <li>Installation and Qualification of Agilent Softwares</li>
                      <li>Software Troubleshooting and Maintenance</li>
                      <li>IT Consulting</li>

                    </ul>
        </div>
        <div class="cv-content-item">
          <div class="title">QC Analyst</div>
          <div class="subtitle">Tedor Pharma, Cranston RI</div>
          <div class="time">JAN 2013 - MAR 2014</div>
                    <ul>
                      <li>Collects and trends Quality Control Data from HPLC, GC, UV</li>
                      <li>Method developement/Method Validation</li>
                      <li>cGMP, GLP requirements/documentation</li>
                      <li>Raw Materials Testing</li>
                    </ul>
        </div>
        <div class="cv-content-item">
        </div>
        <div class="cv-content-item">
        </div>
      </div>
      <div class="cv-content">
        <div class="head-title">Education</div>
        <div class="cv-content-item">
          <div class="title">B.A Biology
          </div>
          <div class="subtitle">University of Rhode Island</div>
          <div class="time">SEP 2007 - MAY 2012</div>
        </div>
        <div class="cv-content-item">
          <div class="title">Certifications</div>
          <div class="subtitle">Amazon Web Services</div>
          <div class="exprecince">
            <div class="row">
  <div class="column">
    <img src="https://d1.awsstatic.com/training-and-certification/Certification%20Badges/AWS-Certified_Cloud-Practitioner_512x512.bc006f14f986fa4f3ca238b0b62be458ce1fb5ce.png" style="width:100%">
  </div>
  <div class="column">
    <img src="https://images.youracclaim.com/images/6774b3bf-7a82-4d40-a2d1-86b412635bae/AWS-SolArchitect-Associate.png" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="https://images.youracclaim.com/images/ee0a9da0-1627-4031-a455-8ced6b866cc7/AWS-SysOpAdmin-Associate.png" style="width:100%">
  </div>
</div>
          </div>
        </div>

      </div>
    </div>
    <div class="cv-wrap">
      <div class="avatar">
        <img src="https://i.imgflip.com/tg2gu.jpg" alt="" />
      </div>
      <div class="info">
        <div class="title">Contact</div>
        <p><a href="mailto:josephcapozzoli@gmail.com">josephcapozzoli@gmail.com</a></p>
        <p><a href="tel:+(845-772-2191)">(845)772-2191</a></p>
      </div>
      <div class="cv-skills">
        <div class="head-title">Primary Skills
        </div>
        <div class="cv-skills-item">
          <div class="title">Windows(7, 8, 10, 2008, 2012, 2016, 2019)</div>
          <div class="title">Vmware (6, 6.5, 6.7) </div>
          <div class="title">AWS (EC2, VPC, S3, SSM, Cloudformation)</div>
          <div class="title">Database (Oracle 11c, 12c, 18c, MSSQL 08, 12, 16, 19)
        </div>
        </div>

      </div>
      <div class="cv-skills">
        <div class="head-title">Secondary Skills
        </div>
        <div class="cv-skills-item">
          <div class="title">PowerShell</div>
          <div class="title">Python</div>
          <div class="title">Bash</div>
          <div class="title">Data Migration</div>
          <div class="title">Git</div>
          <div class="title">Computer System Validation</div>
          <div class="title">SDLC</div>

        </div>

      </div>
      <div class="cv-social">
        <a href="https://github.com/drj0e" title="Github">
          <svg viewBox="0 0 24 24" width="30" height="30" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" style="">
            <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0020 4.77 5.07 5.07 0 0019.91 1S18.73.65 16 2.48a13.38 13.38 0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 005 4.77a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 009 18.13V22"></path>
          </svg>
        </a>

        <a href="https://www.linkedin.com/in/joseph-capozzoli-0b401b4b" title="Linkedin">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" style="">
            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 16h-2v-6h2v6zm-1-6.891c-.607 0-1.1-.496-1.1-1.109 0-.612.492-1.109 1.1-1.109s1.1.497 1.1 1.109c0 .613-.493 1.109-1.1 1.109zm8 6.891h-1.998v-2.861c0-1.881-2.002-1.722-2.002 0v2.861h-2v-6h2v1.093c.872-1.616 4-1.736 4 1.548v3.359z"/>
          </svg>
        </a>
      </div>
    </div>

  </div>

</div>
